header{
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	background: #d1d1d1;
}

h1{
	font-family: oswald;
}

p{
	font-family: Raleway;
	font-size: 16px;
}

ul{
	width: 95%;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-weight: bold;
	font-family: raleway;
	font-size: 20px;
}

iframe{
	display: block;
	margin: 0 auto;
}

.nintendo-logo{
	width:60px;
	height: 60px;	
}

.info-page{
	height: 150px;
}

.info-form{
	text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #e8eaed;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  text-align: center;
  padding: 20px 200px;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.nes{
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 4px solid #bf1515;
  margin-left: 65px;
}

.snes{
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 4px solid #d6be24;
  margin-left: 65px;
}

.n64{
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 4px solid #15bf17;
  margin-left: 65px;
}

.gc{
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 4px solid #1539bf;
  margin-left: 65px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

